# Ambientes Virtuais
.venv/
venv/
ENV/

# Python Cache
**/__pycache__/
*.py[cod]

# Arquivos de Sistema
.DS_Store
Thumbs.db

# Configurações & Segredos
.env*
firebase-config.js
device_configs/
webview_data/